﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CalculatorMVC.Models.CalculatorModel;

<h1 class="text-center text-danger"  >Calculator</h1>


<div class="row" >
    <div class="col-lg-5 mx-auto ">
        <div class="card" >
            <div class="card-body">

                @Html.BeginForm("handleAddition", "Calculator", FormMethod.Post);
                
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FirstNumber" class="control-label">First Number</label> <br />
                        <input asp-for="FirstNumber" class="form-control" />
                        <span asp-validation-for="FirstNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="SecondNumber" class="control-label">Second Number</label> <br />
                        <input asp-for="SecondNumber" class="form-control" />
                        <span asp-validation-for="SecondNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Result" class="control-label">Result</label>
                        <span>=</span>
                        @Html.DisplayFor(Model => Model.Result)
                    </div>


                    <div class="text-center">
                        <button type="submit" class="btn-primary" name="add" >Addition</button>
                        <button type="submit" class="btn-success" name="sub" >Substraction</button>
                        <button type="submit" class="btn-primary" name="div">Division</button>
                        <button type="submit" class="btn-success" name="multi">Multiplication</button>
                    </div>
                
            </div>
        </div>
    </div>

</div>